

.hero{
    // min-height: calc(100vh - var(--header-height));
    // min-height: 100vh;
    // height: 100%;
    // width: 100%;
    // padding: 5rem 0;
    // height: calc(100vh - var(--header-height));
    // background-image: var(--texture-bg);
    // margin-top:0 ;



    .hero__content{
        max-width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // margin-top: calc(var(--header-height) * 2);

       .subtitle{
        color: var(--color-accent);
        margin-top: 0;
       }
       h1{
        margin-bottom: 20px;
       }
       
       .link__content{
        display: flex;
        align-items: center;

        .button{
            border: 5px solid var(--color-accent);
            color: var(--color-accent);
            font-weight: 600;
            padding: 10px;
            text-decoration: none;

            &:hover{
                background-color: var(--color-accent);
                color: white;
            }
        }
        
       }
       .social{
        margin-left: 200px;
        display: flex;

       }

    }

    .flex{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
        margin: auto;
    }


    .frame__content{
        width: 100%; 
        max-height: min-content;
        position: relative;
        left: 0;



    }
    .frame{
        // min-width: 55%;
        width: 100%;
        max-width: 380px;
        height: 50vh;
        position: absolute;
        top: 5vh;
        left: 15vh;
        

        &:first-child{
            top: 10vh;
            left: -10%;
            z-index: 1;
            border: 20px solid var(--color-bg-secondary);
            background-image: url("/assets/images/jessika.svg");
            background-size: cover;
            transition: transform 0.3s $ease-in-out-circ;
            transform: translate(0);
            animation: move-in linear;
            animation-timeline: view();

        }
        &:last-child{
            top: 8vh;
            // left: 0;
            background-color: (var(--color-bg-primary));
            border: 15px solid var(--color-accent);
        }

        // &:hover{
        //     &:first-child{
        //         transform: translate(10px, 2%);
        //     }
        // }
        @keyframes move-in{
            from{top: 4vh; left: -2vw;}
            to{top: 8vh; left: 2vw;}
        }
    }
    
}
