/* ==========================================================================
   icons / component
   ========================================================================== */

   [class^='icon'] {
    fill: currentColor; // inherit color of its context
    display: inline-block;
    flex: 0 0 auto; // prevent icon shrink/grow if in a flex parent
    height: 1rem;
    vertical-align: middle;
    width: 1rem;
    stroke: transparent;
}

.icon--stroke {
    fill: var(--color-bg-primary);
    stroke: var(--color-bg-primary);
}

.icon--xs {
    height: 0.75rem;
    width: 0.75rem;
}

.icon--sm {
    height: 1rem;
    width: 1rem;
}

.icon--md {
    height: 1.6rem;
    width: 1.6rem;
}

.icon--lg {
    height: 2.1rem;
    width: 2.1rem;
}

.icon--sl {
    height: 4rem;
    width: 4rem;
}

.icon--xl {
    height: 7rem;
    width: 7rem;
}

.icon--arrow {
    background-color: var(--color-secondary);
    border-radius: 50%;
    height: 4em;
    width: 4em;
    // height: 100%;

    padding: 10px;

    use {
        fill: white;
        height: 50%;
        width: 50%;
    }
}


.linkedin, .github{
    width: 30px;
    height: 30px;
    background-color: var(--color-bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px;  

    svg{
        fill:var(--color-primary);
    }
}

.hero, .about {
    .linkedin, .github{
        background-color: var(--color-bg-secondary);
    }
}


.github{
    svg{
        position: relative;
        bottom: -4.5px;
    }

}