.projets{
    background: var(--texture-bg);

    .title{
        // height: 50vh;
        padding-top: calc(var(--header-height) + 50px);
        padding-bottom: 80px;
        position: relative;
        top: calc(var(--header-height)*-1);
        left: 0;
        bottom: 0;
        margin-bottom: 110px;
        
        h1{color: var(--color-secondary);}

    }
    .deco{
        background-color: var(--color-bg-secondary);
        width: 400px;
        height: 40px;
        position: relative;
        top: -200px;
        z-index: 3;
        h2{
            position: relative;
            right: 0;
            left: 450px;
            color: var(--color-secondary);
            align-content: center;
            margin: 0;
            height: 100%;
        }
    }


    .projet__section{
        height: 50vh;

    }

    .projet__card{
        position: relative;
        top: -150px;
        display: flex;
        flex-direction: row;
        align-items: start;
        background-color: var(--color-bg-primary);
        border: 3px solid var(--color-bg-secondary);
        padding: 20px;
        height: 450px;
        overflow: hidden;
        box-shadow: 0 8px 15px -2px rgba($color: black, $alpha: 0.7);
        img{
            position: relative;
            top: 50px;
            left: 200px;
            z-index: 10;
            width: 100%;
            transition: 0.4s ease-in-out;
            opacity: 0.5;

        }
        &:hover{
            img{
                width: 90%;
                top: 30px;
                left: 150px;
                opacity: 1;
            }
        }

        .projet__content{

            margin-left: 30px;
            color: va;
            h2{
                margin-top: 10px;
                color: var(--color-secondary);
            }
            a{
                text-decoration: none;
            }
            h3{
                color: var(--color-bg-secondary);
            }
            p{
                color: var(--color-bg-secondary);
                text-wrap: pretty;
            }
        }

        .projet__skill{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            div{
                width: 100%;
                height: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 20px;
                
            }

        p{
            text-align: center;
            width: 100%;
            margin: 0;
            text-transform: uppercase;
            font-weight:600;
            color: var(--color-bg-secondary);
        }
        }
    }
    .projet__section:nth-child(odd){
        background: var(--texture-bg);
        height: 75vh;

        .deco{
            background-color: var(--color-bg-primary);
            width: 400px;
            height: 40px;
            position: relative;
            top: -200px;
            z-index: 3;
            h2{
                width: 100%;
                position: relative;
                left: 0;
                right:0;
                color: var(--color-secondary);
                align-content: center;
                margin: 0;
                height: 100%;
            }

        }
        
        svg {
            fill: var(--color-bg-secondary);
            stroke: none;
        }

    }
    .projet__section:nth-child(even){
        background: var(--color-bg-secondary);
        height: 75vh;
        .projet__card{
            background-color: var(--color-bg-secondary);
            border: 3px solid var(--color-bg-primary);
            flex-direction: row-reverse;

            img{
              
                left: -200px;
            }
            &:hover{
                img{
                left: -85px;    
                }
            }
            h2{
                color: var(--color-bg-primary);
            }
            h3{
                color: var(--color-bg-primary);
            }
            p{
                color: var(--color-bg-primary);
            }

            .projet__skill{
                align-content: center;
                p{
                    color: var(--color-bg-primary);
                    text-align: center;
                    
                }
            }
           
        
        }
        svg {
            fill: var(--color-bg-primary);
            stroke: none;
        }
    }
    .projet__section:last-child{
        border-bottom: 5px solid var(--color-bg-primary);
        margin-bottom: 0;
        height: 60vh;
        
    }
}