/*===========================================================================================
                                    scrolly / component
=============================================================================================*/

.has-js {
    [data-scrolly='scaleUp'] {
        opacity: 0;
        transition: all 1s ease-out;
        transform: scaleY(0.3);

        &.is-active {
            opacity: 1;
            transform: scaleY(1);
        }
    }
    [data-scrolly='scaleX'] {
        opacity: 0;
        transition: all 1s ease-out;
        transform: scaleX(0.3);

        &.is-active {
            opacity: 1;
            transform: scaleX(1);
        }
    }
    [data-scrolly='scaleDeco'] {
        width: 0;

        &.is-active {
            width: calc(50vw + 5px);
            transition: all 1s ease-out;
        }
    }
    [data-scrolly='decoKeyboard'] {
            height: 150px; /* Hauteur finale */

            transform-origin: top;
            transform: scaleY(0);


        &.is-active{
            height: 150px;
           
            transform: scaleY(100%);
            transition: all 1s ease-out 1.2s;
        }
    }
    [data-scrolly='opacityKeyboard'] {
        opacity: .1;

        &.is-active {
            opacity: 1;
            transition-property: opacity;
            transition-duration: .7s;
            transition-timing-function: $ease-out-sine;
            transition-delay: 2s;
        }
    }
    [data-scrolly='text'] {
        transform: translateX(-10%);

        &.is-active {
            transform: translateX(50%);
        }
        transition: transform .3s ease-out 1.2s;
    }
    
    
    
    
    

    

}
