.section{
    width: 100%;
    padding: 5rem 0;
    height: calc(100vh - var(--header-height));
    background-image: var(--texture-bg);
    margin-top:0 ;
    

    .section__content{
        max-width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // margin-top: calc(var(--header-height) * 2);

       .subtitle{
        color: var(--color-accent);
        margin-top: 0;
       }
       h1{
        margin-bottom: 20px;
       }
       
       .link__content{
        display: flex;
        align-items: center;

        .button{
            border: 5px solid var(--color-accent);
            color: var(--color-accent);
            font-weight: 600;
            padding: 10px;
            text-decoration: none;

            &:hover{
                background-color: var(--color-accent);
                color: white;
            }
        }
        
       }
       .social{
        margin-left: 200px;
        display: flex;

       }

    
    }
}