/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #212121;

    // Couleurs du projet
    --color-primary: #F9F2E6;
    --color-accent: #E4B300;

    --color-bg-primary: #574331;
    --color-bg-secondary: #FFF5D2;

    --color-bg-linear-primary: linear-gradient(to bottom right, #225575, #2b9aa8 );
    --color-bg-linear-secondary: linear-gradient(to bottom right, #e0cca0, #8dd9e3 );

    // Images Textures du projet
    --texture-bg: url('../assets/images/texture-bg.svg');

}
