/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #212121;

    // Couleurs du projet
    --color-primary: #F9F2E6;
    --color-secondary: #574331;
    --color-accent: #E4B300;
    --color-accent-variant:#fff7d6;

    --color-bg-primary: #F9F2E6;
    --color-bg-secondary: #574331;

    --color-bg-linear-primary: linear-gradient(to bottom right, #225575, #2b9aa8 );
    --color-bg-linear-secondary: linear-gradient(to bottom right, #e0cca0, #8dd9e3 );

    --color-bg-opacity: rgba($color: #f9f2e6, $alpha: 0.5);

    
    // Images Textures du projet
    --texture-bg: url('../assets/images/texture-bg.svg');



    

}
