/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #212121;

    // Couleurs du projet
    --color-primary: #9a6431;

    --color-bg-primary: #edc5a5;
    --color-bg-secondary: #5bc5df;
    --color-bg-linear-primary: linear-gradient(to bottom right, #225575, #2b9aa8 );
    --color-bg-linear-secondary: linear-gradient(to bottom right, #e0cca0, #8dd9e3 );

}
