/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Lora', sans-serif;
    --font-secondary: 'JetBrains', sans-serif;

    --font-size-content: 1.8rem;

    /// Grosseur des textes
    --font-size-h1: 4rem;
    --font-size-h2: 3rem;
    --font-size-h3: 2rem;
    --font-size-h4: 1rem;

}
