{% include '_partials/_header.html' %}

<section class="section about">
    <h1 class="span" data-scrolly="text" data-no-repeat="true">À Propos</h1>
    <div class="wrapper flex">
        <div class="section__content">
            <h1>Jessika Babeux-Hurst</h1>
            <h2 class="subtitle">Developpement Web</h2>
            <p>
                Je suis une personne <span>organisée</span>, <span>efficace</span> et qui a le <span>soucis du détail</span>.
            </p>
            <p>Je maîtrise les bases dans le <span>développement web</span> : HTML, CSS, JS, SASS</p>
            <div class="link__content">
                <a href="projets.html" class="button">Voir mes projets</a>
                <div class="social">
                    <a class="github" href="https://github.com/Jeszyh">                                
                        <svg class="icon icon--lg">
                            <use xlink:href="#icon-github"></use>
                        </svg>
                    </a>
                    <!-- <a class="codepen" href=""><img src="" alt="Icone de CodePen"></a> -->
                    <a class="linkedin" href="https://www.linkedin.com/in/jessika-babeux-hurst-33897a32a/">
                        <svg class="icon icon--md">
                            <use xlink:href="#icon-linkedin"></use>
                        </svg>
                    </a> 
                </div>
            </div>
        </div>            
        <div class="frame__content__about">
            <div class="frame__about frame--front__about">
            </div>
            <div class="frame__about frame--back__about"></div>
        </div>
    </div>
</section>
<section class="skills">
    <div class="skills__titre">
        <div class="wrapper">
            <h2>Mes compétences</h2>    
        </div>
    </div>
    
    <div class="deco" data-scrolly="scaleDeco" data-no-repeat="true"></div>
    <div class="deco__keyboard " data-scrolly="decoKeyboard" data-no-repeat="true"></div>
    <div class="wrapper">
        <div class="deco__keyboard " data-scrolly="DecoKeyboard" data-no-repeat="true"></div>
        <div class="skills__content" data-scrolly="opacityKeyboard" data-no-repeat="true">
            <div class="key__container"><h4 class="key key--hidden">css</h4></div>
            <div class="key__container"><h4 class="key key--md key--hidden">html</h4></div>
            <div class="key__container"><h4 class="key key--hidden">figma</h4></div>
            <div class="key__container"><h4 class="key">css</h4></div>
            <div class="key__container"><h4 class="key key--sm">html</h4></div>
            <div class="key__container"><h4 class="key key--hidden">figma</h4></div>
            <div class="key__container"><h4 class="key key--hidden">html</h4></div>
            <div class="key__container"><h4 class="key key--md">figma</h4></div>
            <div class="key__container"><h4 class="key key--hidden">figma</h4></div>
            <div class="key__container"><h4 class="key key--hidden">js</h4></div>
            <div class="key__container"><h4 class="key">sass</h4></div>
            <div class="key__container"><h4 class="key">swiper</h4></div>
            <div class="key__container"><h4 class="key">blender</h4></div>
            <div class="key__container"><h4 class="key">blender</h4></div>
            <div class="key__container"><h4 class="key key--sm">html</h4></div>
            <div class="key__container"><h4 class="key key--hidden">css</h4></div>
            <div class="key__container"><h4 class="key">blender</h4></div>
            <div class="key__container"><h4 class="key key--sm">figma</h4></div>
            <div class="key__container"><h4 class="key key--hidden">css</h4></div>
            <div class="key__container"><h4 class="key">html</h4></div>
            <div class="key__container"><h4 class="key">3d</h4></div>
            <div class="key__container"><h4 class="key key--sm">figma</h4></div>
            <div class="key__container"><h4 class="key key--hidden">figma</h4></div>
            <div class="key__container"><h4 class="key key--sm key--hidden">figma</h4></div>
            <div class="key__container"><h4 class="key key--hidden">css</h4></div>
            <div class="key__container"><h4 class="key key--lg">visual studio code</h4></div>
            <div class="key__container"><h4 class="key">blender</h4></div>
            <div class="key__container"><h4 class="key">css</h4></div>
            <div class="key__container"><h4 class="key">css</h4></div>
        
        </div>
    </div>
    
</section>
<section class="interets">
    <div class="wrapper">
        <h1 class="span" data-scrolly="text_top" data-no-repeat="true">Intérêts</h1>
        <div class="lottie">
            <div class="interet interet--astro">
                
            </div>
            <div class="interet interet--chat">
                <lottie-interactive class="lottie-chat" path="../assets/lotties/lottie-chat.json" interaction="hover"aspect-ratio="xMaxYMax"></lottie-interactive>
                
                    </lottie-interactive>
                </div>
                
                <div class="interet interet--livres">
                    <!-- <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script><dotlottie-player src="https://lottie.host/6eeb864a-8610-4173-bcbd-822f980541ab/BSVIb5MfiA.json" background="transparent" speed="1" style="width: 300px; height: 300px" direction="1" playMode="normal" loop hover></dotlottie-player> -->
                </div>
                <div class="interet interet--film">
                    
                </div>
                <div class="interet interet--game">
                    
                </div>
            </div>
        </div>
    </section>

    

    
    
{% include '_partials/_footer.html' %}