{% include '_partials/_header.html' %}

<section class="section hero">
    <div class="wrapper flex">
        <div class="hero__content">
            <h1>Jessika Babeux-Hurst</h1>
            <h2 class="subtitle">Developpement Web</h2>
            <p>
                Future diplomée en <span>Techniques d’Intégration Multimédia</span> du cégep Édouard-Montpetit qui recherche un stage en <span>intégration web</span>.
            </p>
            <div class="link__content">
                <a href="projets.html" class="button">Voir mes projets</a>
                <div class="social">
                    <a class="github" href="https://github.com/Jeszyh">                                
                        <svg class="icon icon--lg">
                            <use xlink:href="#icon-github"></use>
                        </svg>
                    </a>
                    <!-- <a class="codepen" href=""><img src="" alt="Icone de CodePen"></a> -->
                    <a class="linkedin" href="https://www.linkedin.com/in/jessika-babeux-hurst-33897a32a/">
                        <svg class="icon icon--md">
                            <use xlink:href="#icon-linkedin"></use>
                        </svg>
                    </a> 
                </div>
            </div>
        </div>            
        <div class="frame__content">
            <div class="frame frame--front">
            </div>
            <div class="frame frame--back"></div>
        </div>
    </div>
</section>


{% include '_partials/_footer.html' %}