{% include '_partials/_header.html' %}

<div class="sub-grid"></div>

    <section class="sub-intro grid-intro">
        <h1 class="main-title">Nom du Projet</h1>
        <h2 class="sub-title">Type de Projet</h2>
    </section>
    <!-- <aside class="sub-aside grid-aside">
        <h3>Type</h3>
        <ul class="type-list">
            <li>choix 1</li>
            <li>choix 2</li>
            <li>choix 3</li>
            <li>choix 4</li>
        </ul>
    </aside> -->
    <section class="sub-image grid-image">
        <img src="assets/images/texture-bg.svg" alt="">
    </section>
   <section class="sub-description grid-description">
       <p>Description du projet</p>
       <p></p>
       <button>Voir le site</button>
    </section>
    <section class="sub-gallery grid-gallery">
        <h4>Notre <span>gallerie</span></h4>
        <div class="thumb"><img src="" alt=""></div>
        <div class="thumb"><img src="" alt=""></div>
        <div class="thumb"><img src="assets/images/timconf.svg" alt=""></div>
    </section>
</div>

{% include '_partials/_footer.html' %}