{% include '_partials/_header.html' %}

<section class="projets">
    
        <div class="wrapper title">
            <h1>Mes Projets</h1>
        </div>
        
        <div class="projet__section projet__section--texture">
            <div class="deco">
                <h2>Projet 1</h2>
            </div>
            <div class="wrapper">
                <div class="projet__card">
                    <div class="projet__skill">
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-html"></use>
                            </svg>
                            <p>html</p>
                        </div>
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-css"></use>
                            </svg>
                            <p>css</p>
                        </div>
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-js"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="projet__content">
                        <h2>Conférencier</h2>
                        <h3>Site web / Projet étudiant</h3>
                        <p>Design et intégration du travail final du cours de conception web IV</p>
                        <a href="projet.html?type=timconf"><button>Voir plus</button></a>
                    </div>
                    <div class="mockup">
                        <img src="assets/images/timconf.svg" alt="">
                    </div>  
                </div>
            </div>
        </div>
        <div class="projet__section projet__section--texture">
            <div class="deco">
                <h2>Projet 2</h2>
            </div>
            <div class="wrapper">
                <div class="projet__card">
                    <div class="projet__skill">
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-html"></use>
                            </svg>
                            <p>html</p>
                        </div>
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-css"></use>
                            </svg>
                            <p>css</p>
                        </div>
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-js"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="projet__content">
                        <h2>Conférencier</h2>
                        <h3>Site web / Projet étudiant</h3>
                        <p>Design et intégration du travail final du cours de conception web IV</p>
                        <a href="projet.html?type=timconf"><button>Voir plus</button></a>
                    </div>
                    <div class="mockup">
                        <img src="assets/images/timconf.svg" alt="">
                    </div>  
                </div>
            </div>
        </div>
        <div class="projet__section projet__section--texture">
            <div class="deco">
                <h2>Projet 3</h2>
            </div>
            <div class="wrapper">
                <div class="projet__card">
                    <div class="projet__skill">
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-html"></use>
                            </svg>
                            <p>html</p>
                        </div>
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-css"></use>
                            </svg>
                            <p>css</p>
                        </div>
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-js"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="projet__content">
                        <h2>Conférencier</h2>
                        <h3>Site web / Projet étudiant</h3>
                        <p>Design et intégration du travail final du cours de conception web IV</p>
                        <a href="projet.html?type=timconf"><button>Voir plus</button></a>
                    </div>
                    <div class="mockup">
                        <img src="assets/images/timconf.svg" alt="">
                    </div>  
                </div>
            </div>
        </div>
        <div class="projet__section projet__section--texture">
            <div class="deco">
                <h2>Projet 4</h2>
            </div>
            <div class="wrapper">
                <div class="projet__card">
                    <div class="projet__skill">
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-html"></use>
                            </svg>
                            <p>html</p>
                        </div>
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-css"></use>
                            </svg>
                            <p>css</p>
                        </div>
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-js"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="projet__content">
                        <h2>Conférencier</h2>
                        <h3>Site web / Projet étudiant</h3>
                        <p>Design et intégration du travail final du cours de conception web IV</p>
                        <a href="projet.html?type=timconf"><button>Voir plus</button></a>
                    </div>
                    <div class="mockup">
                        <img src="assets/images/timconf.svg" alt="">
                    </div>  
                </div>
            </div>
        </div>
        
</section>

{% include '_partials/_footer.html' %}