{% include '_partials/_header.html' %}

<section class="projets">
    
        <div class="wrapper title">
            <h1>Mes Projets</h1>
        </div>
        
        <div class="projet__section projet__section--texture">
            <div class="deco">
                <h2>Projet 1</h2>
            </div>
            <div class="wrapper">
                <div class="projet__card">
                    <div class="projet__skill">
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-html"></use>
                            </svg>
                            <p>html</p>
                        </div>
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-css"></use>
                            </svg>
                            <p>css</p>
                        </div>
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-js"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="projet__content">
                        <h2>TimConf</h2>
                        <h3>Site web / Projet étudiant</h3>
                        <p>Design et intégration du travail final du cours de conception web IV</p>
                        <a href="timconf.html" class="button">Voir plus</a>
                    </div>
                    <div class="mockup">
                        <img src="assets/images/timconf.svg" alt="">
                    </div>  
                </div>
            </div>
        </div>
        <div class="projet__section projet__section--texture">
            <div class="deco">
                <h2>Projet 2</h2>
            </div>
            <div class="wrapper">
                <div class="projet__card">
                    <div class="projet__skill">
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-html"></use>
                            </svg>
                            <p>html</p>
                        </div>
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-css"></use>
                            </svg>
                            <p>css</p>
                        </div>
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-js"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="projet__content">
                        <h2>Panda</h2>
                        <h3>Site web / Projet pesonnel</h3>
                        <p>Design et intégration d'un projet personnel sur les pandas</p>
                        <a href="" class="button">Voir plus</a>
                    </div>
                    <div class="mockup">
                        <img src="assets/images/Panda.svg" alt="">
                    </div>  
                </div>
            </div>
        </div>
        <div class="projet__section projet__section--texture">
            <div class="deco">
                <h2>Projet 3</h2>
            </div>
            <div class="wrapper">
                <div class="projet__card">
                    <div class="projet__skill">
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-html"></use>
                            </svg>
                            <p>html</p>
                        </div>
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-css"></use>
                            </svg>
                            <p>css</p>
                        </div>
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-js"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="projet__content">
                        <h2>Portfolio</h2>
                        <h3>Site web / Projet étudiant</h3>
                        <p>Design et intégration de mon portfolio dans le cours de Portfolio</p>
                        <a href="" class="button">Voir plus</a>
                    </div>
                    <div class="mockup">
                        <img src="assets/images/Portfolio.svg" alt="">
                    </div>  
                </div>
            </div>
        </div>
        <div class="projet__section projet__section--texture">
            <div class="deco">
                <h2>Projet 4</h2>
            </div>
            <div class="wrapper">
                <div class="projet__card">
                    <div class="projet__skill">
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-html"></use>
                            </svg>
                            <p>html</p>
                        </div>
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-css"></use>
                            </svg>
                            <p>css</p>
                        </div>
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-js"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="projet__content">
                        <h2>Lottie & JS</h2>
                        <h3>Site web / Projet étudiant</h3>
                        <p>Intégration de mes animations JS & Lottie</p>
                        <a href="" class="button">Voir plus</a>
                    </div>
                    <div class="mockup">
                        <img src="assets/images/timconf.svg" alt="">
                    </div>  
                </div>
            </div>
        </div>
        <div class="projet__section projet__section--texture">
            <div class="deco">
                <h2>Projet 5</h2>
            </div>
            <div class="wrapper">
                <div class="projet__card">
                    <div class="projet__skill">
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-html"></use>
                            </svg>
                            <p>html</p>
                        </div>
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-css"></use>
                            </svg>
                            <p>css</p>
                        </div>
                        <div>
                            <svg class="icon icon--sl icon--stroke">
                                <use xlink:href="#icon-js"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="projet__content">
                        <h2>Webjam - Refonte</h2>
                        <h3>Site web / Projet étudiant</h3>
                        <p>Refonte Design et Intégration du Webjam en équipe de 3</p>
                        <a href="" class="button">Voir plus</a>
                    </div>
                    <div class="mockup">
                        <img src="assets/images/Webjam.svg" alt="">
                    </div>  
                </div>
            </div>
        </div>
        
</section>

{% include '_partials/_footer.html' %}