{% include '_partials/_header.html' %}

<section class="hero projet">
    <h1 class="span" data-scrolly="text">Timconf</h1>
    <div class="wrapper flex">
        <div class="hero__content">
            <h1>TimConf</h1>
            <h2 class="subtitle">Projet Scolaire</h2>
        </div>
        <div class="flex-row">
            <div class="projet__info">
                <h3>Intégration web</h3>
                <div class="projet__tag">
                    <h4>HTML</h4>
                    <h4>CSS</h4>
                    <h4>SASS</h4>
                    <h4>JS</h4>
                </div>
                <a href=""><button>Voir le site</button></a>
            </div>
            <div class="media mockup">
                <img src="assets/images/timconf.svg" alt="">
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="wrapper flex">
        <div class="cards__container">
            <div class="card">
                <h4>Swiper</h4>
            </div>
            <div class="card">
                <h4>Display:Grid</h4>
            </div>
        </div>
        <div class="description__content">
            <p></p>
        </div>
    </div>
</section>
{% include '_partials/_footer.html' %}